# Application
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/logiflow?sslmode=require

# JWT
JWT_ACCESS_SECRET=replace_with_64_char_random_string_minimum_here_abcdefghijklmnopqrstuvwx
JWT_REFRESH_SECRET=replace_with_another_64_char_random_string_minimum_abcdefghijklmnopqrstu
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Upstash Redis
UPSTASH_REDIS_REST_URL=https://your-upstash-url.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_upstash_token_here

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Resend
RESEND_API_KEY=re_your_resend_api_key

# bKash
BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta
BKASH_USERNAME=your_bkash_username
BKASH_PASSWORD=your_bkash_password
BKASH_APP_KEY=your_bkash_app_key
BKASH_APP_SECRET=your_bkash_app_secret
BKASH_CALLBACK_URL=http://localhost:3000/api/v1/payments/bkash/callback

# Application URLs
FRONTEND_URL=http://localhost:5173

# Business Rules
MAX_DELIVERY_ATTEMPTS=3
